@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap");

/* banner text */

.banner-img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.box {
  border: 2px solid black;
  border-radius: 5px;
}
.hero-banner-text {
  position: absolute;
  top: 50%;
  left: 10%;
}

.banner-text {
  color: rgb(255, 255, 255);
  font-family: "Bebas Neue", cursive;
}

h1 {
  font-size: 60px;
  font-family: "Bebas Neue", cursive;
}
h2 {
  font-size: 48px;
  font-family: "Bebas Neue", cursive;
}
.button-banner-text {
  background-color: rgb(238, 128, 25);
  font-family: "Bebas Neue", cursive;
  font-size: large;
  width: 150px;
  height: 50px;
}
.button-banner-text:hover {
  background-color: rgb(255, 255, 255);
}

/* headline shoes */

.choose {
  margin-top: 100px;
  text-align: center;
  font-family: "League Spartan", sans-serif;
  font-size: 48px;
  margin-bottom: 30px;
}

/* container-shoes */

.container-shoes {
  display: flex;
  justify-content: center;
}

.shoes-img {
  margin-bottom: 50px;
  text-align: center;
  background-color: white;
  text-align: left;
}
h4 {
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
  margin-top: 10px;
}

p {
  font-family: "League Spartan", sans-serif;
  margin-top: 5px;
}

/* VACATION MODE ACTIVATED NR1 */

.vacation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.vacation {
  text-align: left;
  margin-left: 50px;
}

.vacation-img {
  width: 55%;
  height: auto;
  object-fit: cover;
}

.vacation-btn {
  width: 150px;
  height: 50px;
  margin-top: 10px;
}
.vacation-btn :hover {
  color: rgb(165, 102, 19);
}

/* VACATION MODE ACTIVATED NR2 */

.vacation-container-2 {
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vacation-2 {
  text-align: right;
  margin-right: 50px;
}

.vacation-colur {
  color: rgb(223, 223, 223);
}

/* container-shoes-roll */

.container-shoes-roll {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7px;
}

.container-shoes-roll-img {
  margin-right: 10px;
  margin-bottom: 50px;
  text-align: center;
  background-color: white;
  text-align: left;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .vacation-img {
    width: 100%;
  }
  .vacation-container {
    flex-direction: column;
  }

  .vacation-container-2 {
    flex-direction: column;
  }

  .vacation {
    text-align: center;
  }
  .vacation-2 {
    text-align: center;
  }
}

@media screen and (max-width: 460px) {
}
