@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

* {
  margin: 0;
  border: 0;
}

/* hits is for the header */

.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  height: 100px;
}

.header-style {
  font-family: "Hubballi", cursive;
  font-size: 24px;
  margin: 50px;
}

.logo {
  height: 30px;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
}
.nav-links li a {
  color: black;
  margin: 10px;
  text-decoration: none;
}
.nav-links li a:hover {
  color: rgba(48, 39, 39, 0.685);
}

/* banner text */

.banner-img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.box {
  border: 2px solid black;
  border-radius: 5px;
}
.hero-banner-text {
  position: absolute;
  top: 50%;
  left: 10%;
}

.banner-text {
  color: rgb(255, 255, 255);
  font-family: "Bebas Neue", cursive;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 30px;
}
.button-banner-text {
  background-color: rgb(238, 128, 25);
  font-family: "Bebas Neue", cursive;
  font-size: large;
  width: 150px;
  height: 50px;
}
.button-banner-text:hover {
  background-color: rgb(255, 255, 255);
}

/* headline shoes */

.choose {
  margin-top: 100px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  margin-bottom: 20px;
}

/* container-shoes */

.container-shoes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shoes {
  max-width: 345px;
  margin-right: 20px;
  margin-bottom: 50px;
  text-align: center;
}

.shoes :hover {
  border: 1px solid #000;
}

.wrapper-1 button {
  background-color: rgb(255, 251, 0);
  border-color: #000;
  border-radius: 10px;
  height: 50px;
  width: 150;
}

/* footer */

footer {
  height: 300px;
  background-color: rgb(54, 54, 54);
}

.footer-container {
  display: flex;
  justify-content: center;
  margin: 100px;
}

.footer-nav {
  margin: 100px;
}
h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
  color: white;
}

.footer-nav li {
  color: white;
  text-decoration: none;
  list-style: none;
  font-family: "Bebas Neue", cursive;
}
