@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');

* {
  margin: 0;
  border: 0;
}

/* hits is for the header */

.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  height: 100px;
}

.header-style {
  font-family: "Hubballi", cursive;
  font-size: 24px;
  margin: 50px;
}

.logo {
  height: 30px;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
}
.nav-links li a {
  color: black;
  margin: 10px;
  text-decoration: none;
}
.nav-links li a:hover {
  color: rgba(48, 39, 39, 0.685);
}

/* banner text */

.banner-img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.box {
  border: 2px solid black;
  border-radius: 5px;
}
.hero-banner-text {
  position: absolute;
  top: 50%;
  left: 10%;
}

.banner-text {
  color: rgb(255, 255, 255);
  font-family: "Bebas Neue", cursive;
}

h1 {
  font-size: 60px;
  font-family: "Bebas Neue", cursive;
}
h2 {
  font-size: 30px;
}
.button-banner-text {
  background-color: rgb(238, 128, 25);
  font-family: "Bebas Neue", cursive;
  font-size: large;
  width: 150px;
  height: 50px;
}
.button-banner-text:hover {
  background-color: rgb(255, 255, 255);
}

/* headline shoes */

.choose {
  margin-top: 100px;
  text-align: center;
  font-family: 'League Spartan', sans-serif;
  font-size: 48px;
  margin-bottom: 20px;
}

/* container-shoes */

.container-shoes {
  display: flex;
  justify-content: center;
}

.shoes-img {
  max-width: 345px;
  margin-right: 20px;
  margin-bottom: 50px;
  text-align: center;
  background-color: white;
  text-align: left;
}
 h4{
  font-family: 'League Spartan', sans-serif;
  font-size: 18px;
  margin-top: 10px;
 }

 p{
  font-family: 'League Spartan', sans-serif;
  margin-top: 5px;
 }


 /* VACATION MODE ACTIVATED */

 .vacation-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}


.vacation{
margin-left: 200px ;
}
.vacation2{
  margin-right: 200px;
}

.vacation-img{
  max-width: 900px;
  height: 600px;
  object-fit: cover;
}

.vacation-btn{
  width: 150px;
  height: 50px;
  margin-top: 10px;
}
.vacation-btn :hover{
  color: rgb(165, 102, 19);

}



/* container-shoes-roll */

.container-shoes-roll{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 100px;
}


.container-shoes-roll-img {
  max-width: 345px;
  margin-right: 20px;
  margin-bottom: 50px;
  text-align: center;
  background-color: white;
  text-align: left;
}




/* footer */

.footer-container {
  height: 300px;
  background-color: rgb(32, 32, 32);
  display: flex;
  justify-content: center

}

.footer-nav {
margin-top: 60px ;
margin-right: 50px;
}
h3 {
  font-family: 'League Spartan', sans-serif;
  font-size: 24px;
  color: rgb(250, 250, 250);
}

.footer-nav li{
  color: rgb(206, 206, 206);
  text-decoration: none;
  list-style: none;
  font-family: 'League Spartan', sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
}



