@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap");

* {
  margin: 0;
  border: 0;
}

/* hits is for the header */

.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.header-style {
  font-family: "Hubballi", cursive;
  font-size: 24px;
  margin: 50px;
}

.logo {
  height: 30px;
  margin-right: 169px;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
}
.nav-links li a {
  color: black;
  margin: 10px;
  text-decoration: none;
}
.nav-links li a:hover {
  color: rgba(48, 39, 39, 0.685);
}

/* footer */

.footer-container {
  height: 300px;
  background-color: rgb(32, 32, 32);
  display: flex;
  justify-content: center;
}

.footer-nav {
  margin-top: 60px;
  margin-right: 50px;
}
h3 {
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  color: rgb(250, 250, 250);
}

.footer-nav li {
  color: rgb(206, 206, 206);
  text-decoration: none;
  list-style: none;
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
}
